// theme colors
$dark: #0A0A0E;
$lightDark: #1E1E22;
$white: #FFFFFF;
$grey: #F2F2F2;
$blue: #0075FF;
$veryDark: #000000;
$textGrey: rgba(255, 255, 255, 0.6);
$textWhiteGrey: rgba(0, 0, 0, 0.6);
$themWhite: rgba(0, 0, 0, 0.06);
$themDark: rgba(255, 255, 255, 0.06);
$transparent: linear-gradient(178.61deg, #141212 1.18%, rgba(20, 18, 18, 0) 98.82%);
$whitePlaceholder: rgba(15, 15, 15, 0.4);
$blackPlaceholder: rgba(242, 242, 242, 0.4);

// svg
$whiteLogo: invert(0);
$darkLogo: invert(2);

